.pagination_button {
	width: 50px;
	height: 50px;
	margin-right: 5px;
	border: 1px solid #000;
	color: #000;
	background-color: #fff;
	border-radius: 3px;
	box-shadow: 0 1px 2px 0 rgba(0,0,0,.22);
}

.pagination_button:hover {
	width: 50px;
	height: 50px;
	margin-right: 5px;
	border: 1px solid #000;
	color: #000;
	background-color: #3aff3a;
	border-radius: 3px;
	box-shadow: 0 1px 2px 0 rgba(0,0,0,.22);
}

.current_pagination_button {
	background-color: #3aff3a;
}

.pagination {
	display: flex;
	justify-content: center;
	margin:20px;
}

.clicked {
	border: 2px solid #f00;
}

.none {
	border: none;
}
