.App .logo {
	display: flex;
	align-items: center;
}

.App-logo {
  height: 4vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #35792a;
  min-height: 10vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-footer {
	background-color: #35792a;
	justify-content: center;
	min-height: 20vh;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App .App-footer .logo {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin-left: 20px;
	margin-right: 20px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.bodycontainer {
	display: flex;
	background: linear-gradient(to right, #fff5bcc5, #f2ffb7e7);
}

.bodycontainer .cards {
	display: inline;
}

.bodycontainer .map {
	width: 100%;
	height: 60vh;
	margin: 50px;
	position: sticky;
	top: 50px;
}
